#mainNav .navbar-brand {
    color: #fed136;
    font-size: 2em;
}
.disabled
        {
            background: none repeat scroll 0 0;
            cursor: default !important;
        }
#mainNav .nav-link {
    color: white;
    font-size: 1.1em;
}
#mainNav .nav-link:hover{
   color: #fed136;
}
#mainNav .nav-link.active{
   color: #fed136;
}
.header-main{
    text-align:center;
    background-image: url("../images1/background.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;

}
.li1{
  list-style-type: none;
}
footer{
  background-color: #1a1a1a;
  height: 80px;
}
#googleMap {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
      }
.header-main .header-container{
    padding-top: 180px;
    padding-bottom: 200px;
}
.header-main .header-name{
    font-size: 3em;
    color:#FFFFFF;
}
.header-main .header-welcome{
    font-size: 4em;
    color:#FFFFFF;
    font-family: "Times New Roman", Times, serif;
}
.header-main .header-career{
    font-size: 1.5em;
    color: #FFFFFF;
}
.header-main .header-button{
   margin-top: 80px;
}
.header-main .header-codeby{
    font-size: 1.3em;
    color: #FFFFFF;
}
.header-main .button-readmore{
    background-color: #fec80f;
    padding: 15px 45px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    border: solid 5px;
    font-weight: 900;
}
.button-readmore:hover, .button-readmore:active {
    background-color: #FFA500;
}
.header-main .header-icone{
    margin-top: 30px;
}
.icones{
    padding-left: 5px;
}
.profilepicture{
    border-radius: 50%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.text-aboutme{
    color: #6c757d;
    font-size: 1.1em;
    font-family: "Times New Roman", Times, serif;
}
#skills .iconeskill{
    font-size:18px;
    color:#FFCC66;
}
.project-hover-behind{
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center; 
    color: #fff;    
}
.project-mobile-hover-behind{
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center; 
    color: #fff;    
}


.project-top{
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    
}
.project-mobile-top{
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    width: 350px;
    height: 220px;
    
}
.fa-play{
   color: black;
}
.project-hover-bg{
   position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease .5s;
     background:#fed136;
     opacity: 0;
}

.project-bottom{
    text-align: center;
    background: white;
}
.project-mobile{
   text-align: center;
    background: white;
 
}
section{
  padding: 100px 0 ;  
}
@media (min-width: 768px){
  padding: 75px 0 ;
}
.img-fluid{
  width: 348px;
  height: 220px;
}
.project-bottom1{
    text-align: center;
    background: #f8f9fa;
}
.project-hover-bg:hover{
   opacity: 0.8;
}
.hiddentext{
  visibility: hidden;
}
@media(min-width: 767px)
.web-project{
      margin: 0 0 30px;
}

.web-project{
  right: 0;
  margin: 0 0 15px;
}
.contact-bg{
  background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: url(../images1/contact-bg.jpg);
}
.modal-content{
 
   text-align: center;
   margin-top: 100px;
}
.close{
    width: 75px;
    padding: 50px;
    cursor: pointer;
    font-size: 55px;
}
.modal-content{
   padding: 50px 0;
   text-align: center;
}
.modal-skill{
   text-align: center;
   background: #e9ecef;
   font-family:"Times New Roman", Times, serif;
}
.mobileapp-img{
   width: 350px;
   height:220px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 500px;
   
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 350px;
   height:220px;
    

}
#mobileapp{
   padding-bottom: 100px; 
}
.schoolicons{
   border-radius: 50%;
   width: 150px;
   height: 150px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
   width: 350px;
   height:220px;
  text-align: center;
}

/* back, initially hidden pane */
.back {
   width: 350px;
   height:220px;
	transform: rotateY(180deg);
    background-color: #fedd69;
    text-align:center;
}
